<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<!-- a SessionFactory instance -->
	<session-factory>
		<!-- This is the same connection info we used for JDBC -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/twaiku</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">Redwings25</property>
		<!-- The show-sql property set to true is used for testing and allows us 
			to see the hibernate queries in our console -->
		<property name="show_sql">true</property>
		<!-- This mapping directs the application on where to find the objects 
			to use with the DB -->
		<mapping class="net.twaiku.dto.TwaikuDTO"></mapping>
		<mapping resource="TwaikuDto.hbm.xml"></mapping>

	</session-factory>

</hibernate-configuration>